
<h2>Login</h2>

<form>
    <label>Current Password</label>
    <input class="form-control" type="text" ng-model="item.oldPassword" />
    <label>password</label>
    <input class="form-control" type="Password" ng-model="item.NewPassword" />
    <label>password</label>
    <input class="form-control" type="Password" ng-model="item.ConfirmPassword" />

    <input type="submit" id="login" class="btn btn-primary" value="Save" ng-click="submit()" />
    {{message}}

</form>

