


<h2>Login</h2>

<form>
    <label>username</label>
    <input class="form-control" type="text" ng-model="user.username" />
    <label>password</label>
    <input class="form-control" type="Password" ng-model="user.Password" />


    <input type="submit" id="login" class="btn btn-primary" value="Login" ng-click="login()" />
    {{message}}

</form>


